body{
  font-family: sans-serif;
}

.content{
  background-color: #EEBCAB;
  height: 1000px;
  width: 90%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  border-radius: 25px;
}

#title{
  color: #B22D00;
  text-align: center;
}

.uggie{
  float:left;
  width:33%;
  background-color:#00B28A;
  border-radius: 25px 0 0 25px;

}
.lucky{
  float:left;
  width:33%;
  background-color:#19FFCB;
}
.snape{
  float:left;
  width:33%;
  background-color:#00B28A;
  border-radius: 0 25px 25px 0;
}

img{
  width:96%;
  height: 300px;
  padding: 0 2%;
}

p{
  padding: 0 10px;
}

h2{
  text-align: center;
}
